@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @foreach (int projectId in Model.AvailableProjects)
	{
        <a href="/project?ProjectId=@projectId">Project: @projectId</a><br />
	}
</div>
